@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700;800;900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

main {
    height: 100vh;
    background: url(assets/donut-background.png);
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
    color: #fff;
}
.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 25px 100px;
    background: seagreen;
}