@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');



* {
    font-family: 'Fredoka', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    display: flex;
}

#messages {
    list-style-type: none; /* Remove default list styling (no dots) */
    padding: 0; /* Remove padding */
    max-height: 300px; /* Set a max height for the message list */
    overflow-y: auto; /* Enable vertical scrolling */
    margin-bottom: 20px; /* Space below the message list */
    background: white; /* Background color for the message list */
    border: 1px solid #ccc; /* Border around the message list */
    border-radius: 4px; /* Rounded corners */
    padding: 10px; /* Padding inside the message list */
}

ul {
    margin: 5px 0; /* Space between messages */
    padding: 8px; /* Padding for each message */
    background-color: #e9ecef; /* Light gray background for messages */
    border-radius: 4px; /* Rounded corners for messages */
    list-style-type: none;
    justify-content: right;
}

form {
    display: flexbox; /* Use flexbox for form layout */
    justify-content: space-between; /* Space between input and button */
    position: absolute;
    right: 50px;
}

#message {
    flex: 1; /* Allow input to take available space */
    padding: 10px; /* Padding for input */
    border: 1px solid #ccc; /* Border for input */
    border-radius: 10px; /* Rounded corners for input */
    margin-right: 10px; /* Space between input and button */
}

button {
    padding: 10px 15px; /* Padding for button */
    background-color: #6c91f0; /* Green background */
    color: white; /* White text */
    border: none; /* Remove border */
    border-radius: 10px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    position: relative;
    transition: transform 0.2s ease;
    font-weight: 600;
    box-shadow: 0 2px 5px #2e3f69;
}
button:active {
    transform: scale(.99);
}

button:hover {
    background-color: #4a67b1;
}

